/* Container utama */
.container {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

/* Kiri */
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 565px;
    max-width: 100%;
    border-radius: 20px;
}

/* Kanan */
.login-box {
    background: #1f2933;
    padding: 60px;
    border-radius: 20px;
    width: 300px;
    color: white;
}

/* Judul */
.login-box h2 {
    margin-bottom: 20px;
    line-height: 1.0;
}

.login-box span {
    color: #00cfff;
}

/* Input */
.login-box label {
    font-size: 14px;
}

.login-box input,
.login-box select {
    width: 90%;
    padding: 12px;
    margin: 8px 0 12px;
    border-radius: 10px;
    border: none;
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    margin: 1px 0;
}

.social-img {
    width: 190px;     /* kecilin lagi */
    height: auto;
    display: block;
    margin: 10 auto;
}

/* Button */
button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #00cfff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #00aacc;
}

.forgot {
    color: #00cfff;
    text-decoration: underline;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-top: 10px;
}




