<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sidebar</title>
<link rel="stylesheet" href="#">
</head>
<body>

<div class="sidebar">
    <a href="#"><iconify-icon icon="lucide:home"></iconify-icon></a>
    <a href="#"><iconify-icon icon="mingcute:tag-line"></iconify-icon></a>
    <a href="#"><iconify-icon icon="ri:team-fill"></iconify-icon></a>
    <a href="#"><iconify-icon icon="material-symbols:bookmark"></iconify-icon></a>
    <a href="#"><iconify-icon icon="mingcute:user-4-line"></iconify-icon></a>
    <i class="fa-regular fa-house"></i>
</div>
</body>
</html>